//page banner
#sqz-banner {
    position: relative;
    .sqz-banner_caption {
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20rem;
        z-index: 9;
        @include tablet {
            bottom: 3rem;
        }
        .sqz-banner_title {
            font-size: 2.5rem;
            line-height: 3rem;
            color: $plainColor;
            margin: 0;
            padding: 0;
        }
    }
}
    .sqz-main_banner{
        height: 50rem;
        @include tablet {
            height: 25rem;
        }
        img {
            height: 50rem;
            width: 100%;
            object-fit:cover;
            object-position: 50% 0;
             @include tablet {
                height: 25rem;
            }
        }
    }
