// buttons

.sqz-btn, .gform_button, input[type="button"] {
	background:transparent;
	height:$btnHeight; 
	min-width:11rem;
    cursor: pointer;
    border: solid 2px $secondaryColor;
    border-radius: 2rem;
	padding:1rem 2.75rem;
	color:$secondaryColor;
	display:inline-block;
	text-align:center;
	font-family: $headingFont;
    font-size:1rem;
    line-height: 1.6rem;
    @include sqz-transition;
    display: table;
    margin: 30px 0 0;
    -webkit-appearance:none;
    &:hover, &:focus {
        color: $plainColor;
        background: $secondaryColor;
    }
    &.sqz-btn_center {
        display: table !important;
        margin: 2rem auto 0;

    }
    &.sqz-btn_secondary {
        background: $secondaryColor;
        border: none !important;
        &:hover {
        color: $plainColor;
        background: tint($secondaryColor,20%);
    }
    }
    &.sqz-btn_small {
        width: auto;
        max-width: 100%;
        height: 2.5rem;
        min-width: 0;
        padding: 0.5rem 1.5rem;
        font-size: 0.875rem;
    }
    &.sqz-btn_left {
        float: left;
        width: 48%;
        padding-left: 10px;
        padding-right: 10px;
        clear: both;
    }
    &.sqz-btn_right {
        float: right;
        width: 48%;
        padding-left: 10px;
        padding-right: 10px;
    }
    #sqz-foot_subsribe & {
        border-color: $plainColor;
        color: $plainColor;
        width: 260px;
        margin-top: 40px;
        &:hover, &:focus {
            background: $plainColor;
            color: $primaryColor;
        }
    }
    
}